h1{
    font-family: 'Bebas Neue', sans-serif;
}
body{
    background-color:  #001428;
    color: #FFFFFF;
    
}
.logo{
    font-size: 70px;
    margin: 0;
    
}
.conteiner{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  justify-content: space-around;

   
}
.logodiv{
    display: flex;
    
}
div > h2{
    color: rgb(255, 255, 255);
    display: block;

    margin: 0;
   
}
#inv{
    width: 350px;
}
.Distortion{
font-family: 'Reem Kufi Ink', sans-serif;
}
.Chorus{
    font-family: 'Reem Kufi Ink', sans-serif
}
.Reverb{
    font-family: 'Reem Kufi Ink', sans-serif
}
.Delay{
    font-family: 'Reem Kufi Ink', sans-serif
}
div > a{
    color: #FFFFFF;
    text-decoration: none;

}
.Chorus:hover, .Reverb:hover, .Delay:hover{
    color:#FFD700 ;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}
#logoid:hover{
    color: #8B0000;
    
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}
.dizzcointeiner{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif ;
   
}
.imgone{
    border: solid white;
    flex-basis: 25%;
    height: 60vh;
}
.imgone >img{
    width: 100%;
}
.textone{
    border: solid white;
    flex-basis: 70%;
    height: 60vh;
}
.imgtwo{
    border: solid white;
    flex-basis: 25%;
    height: 60vh;
}
.imgtwo >img{
    
    height: 100%;
    margin-left: 70px;

}
.texttwo{
    border: solid white;
    flex-basis: 70%;
    height: 60vh;
    
}
.imgthree{
    border: solid white;
    flex-basis: 25%;
    height: 60vh;
}
.imgthree > img{
    width: 100%;
}
.textthree{
    border: solid white;
    flex-basis: 70%;
    height: 60vh;
}
.imgfour{
    border: solid white;
    flex-basis: 25%;
    height: 60vh;
}
.imgfour > img{
    width: 100%;
}
.textfour{
    border: solid white;
    flex-basis: 70%;
    height: 60vh;
}
.backvideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 80px;
    width: 126%;
    z-index: -1;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff; /* Kolor tekstu linków */
    font-family: 'Montserrat', sans-serif  ;
}

nav a {
    text-decoration: none; /* Usunięcie podkreślenia z linków */
    color: inherit; /* Dziedziczenie koloru tekstu od rodzica (nav) */
    margin-right: 10px;
}

