h1{
    font-family: 'Bebas Neue', sans-serif;
}
body{
    background-color:  #001428;
    color: #FFFFFF;
    
}
.logo{
    font-size: 70px;
    margin: 0;
    
}
.conteiner{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  justify-content: space-around;

   
}
.logodiv{
    display: flex;
    
}
div > h2{
    color: rgb(255, 255, 255);
    display: block;

    margin: 0;
   
}
#inv{
    width: 350px;
}
.Distortion{
font-family: 'Reem Kufi Ink', sans-serif;
}
.Chorus{
    font-family: 'Reem Kufi Ink', sans-serif
}
.Reverb{
    font-family: 'Reem Kufi Ink', sans-serif
}
.Delay{
    font-family: 'Reem Kufi Ink', sans-serif
}
div > a{
    color: #FFFFFF;
    text-decoration: none;

}
h2:hover, div a:focus{
    color:#FFD700 ;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}
#logoid:hover{
    color: #8B0000;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}

.headcointeiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    width: 100%;
    height: 20vh;
    justify-content: center;
    font-family: 'Montserrat', sans-serif ;

}
.xxx{


height: 10vh;
}
#headspan{
    
    width: 25%;
    height: 10vh;
    color: #8B0000;
    text-align: center;
}
#bbb{
    font-size: 50px;
    margin: 0; 
    margin-top: 10px;
    margin-right: 100px;
}
#headspan {
    transition: transform 0.2s ease-in-out;
}

#headspan:hover {
    transform: translateX(135px) scale(1.8);
}
.textcointerner{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
.owner{
    border: #FFFFFF solid;
    width: 25%;
    
}
.right-text{
    border: #FFFFFF solid;
    width: 400px;
   
   
}

